table, th, td{
    border-color: blue;
    color:red;
    background-color: cyan;
    
}
img {
  height: 150px;
  width: 150px;
}
.page{
    font-size: 48px;
    color:palevioletred
}
h1{
    color: palegreen;
}
body{
    background-color: lightsalmon;
}